.header-container {
    padding: 1.4rem 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .5);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .left {
            display: flex;
            align-items: center;

            img {
                border-radius: 100%;
                border: 2px solid #212121;
                margin-right: .5rem;
            }

            p {
                margin-right: 1rem;
            }
        }
    }
}