.header-container {
    padding: 1.4rem 0;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.08);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .left {
            display: flex;
            align-items: center;

            p {
                margin-right: 1rem;
            }
        }
    }
}