.header-container {
    padding: 1.4rem 0;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.08);

    @media screen and (max-width: 680px) {
        padding: 0;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logout-mobile {
            display: none;

            @media screen and (max-width: 680px) {
                display: flex;
                align-items: center;

                img {
                    align-self: flex-end;
                }
            }

            p {
                margin-top: 0;
                margin-bottom: 0;
                margin-right: 1rem;
            }
        }
    
        .left {
            display: flex;
            align-items: center;

            @media screen and (max-width: 680px) {
                display: none;
            }

            p {
                margin-right: 1rem;
            }
        }
    }
}