.input-field {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 2px;

    input {
        border: 2px solid #212121;
        padding: .8rem .2rem;
        border-radius: 5px;
        font-size: .9em;
        margin-bottom: .5rem;

        &:focus {
            outline: unset;
        }
    }

    .red-border {
        border-color: rgb(244,67,54);
    }

    span {
        color: rgb(244,67,54);
    }

    label {
        margin-bottom: 1rem;
    }
}